{% extends '_base.html' %}
{% load static %}



{% block content %}


<section class="e-shopcart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="e-shopcart-sec">
                    <div class="shopcart-table-wrap mb-30">
                        <form class="table-responsive">
                            <table class="shopcart-table">
                                <thead>
                                  <tr>
                                    <th>محصول </th>
                                    <th>تعداد </th>
                                    <th>قیمت </th>
                                    <th> تاریخ خرید </th>
                                  </tr>
                                </thead>

                                <tbody id="tbody">

                                </tbody>
                              </table>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<script>



function getUserData() {
    fetch('http://127.0.0.1:8000/api/showcart/', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(response => {
        console.log('bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb')
        if (response.ok) {
            return response.json();
        }
        throw new Error('Network response was not ok.');
    })
    .then(data => {
        console.log(data)

        if (data) {
        const tbody = document.getElementById("tbody")
     data.forEach(item => {


        const  tr1 = document.createElement("tr")
        const  td1 = document.createElement("td")

        const  div1 = document.createElement("div")
        div1.className += "sc-productwrap"
        const  a1 = document.createElement("a")
        a1.className += "sc-product-thumb"
        const  img1 = document.createElement("img")
        img1.className += "img-fluid"
        img1.setAttribute("src", item.product.image)
        a1.appendChild(img1)
        div1.appendChild(a1)

        const  div2 = document.createElement("div")
        div2.className += "sc-product-details"

        const  a2 = document.createElement("a")
        a2.className += "sc-product-ttl"
        a2.innerHTML = item.product.name

        const  p1 = document.createElement("p")
        p1.className += "sc-product-ttl"
        p1.innerHTML = "سایز: " +  item.size


         const div_color_wrapper = document.createElement("div");
        div_color_wrapper.className += "sc-productwrap"

        const pColor = document.createElement("p");
        pColor.className += "sc-product-ttl"
        pColor.textContent = "رنگ : ";


        const  div_color = document.createElement("div")
         div_color.style.width = "15px"
         div_color.style.height = "15px"
         div_color.style.marginRight = "5px"
         div_color.style.backgroundColor =  item.color

         div_color_wrapper.appendChild(div_color);

        div2.appendChild(a2)
        div2.appendChild(p1)
        div_color_wrapper.appendChild(pColor);
        div_color_wrapper.appendChild(div_color)
         div2.appendChild(div_color_wrapper);
        div1.appendChild(div2)
        td1.appendChild(div1)
        tr1.appendChild(td1)

            console.log('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')


        const  td2 = document.createElement("td")
        const  div3 = document.createElement("div")
        div3.className += "quantity-box"
        const  span3 = document.createElement("span")
        span3.className += "sc-product-prc"
        span3.innerHTML = item.count
        div3.appendChild(span3)
        td2.appendChild(span3)
        tr1.appendChild(td2)


        const  td3 = document.createElement("td")

        const  span1 = document.createElement("span")
        span1.className += "sc-product-prc"
        span1.innerHTML = item.price
        td3.appendChild(span1)
        tr1.appendChild(td3)


        const  td4 = document.createElement("td")
        const  span2 = document.createElement("span")
        span2.className += "sc-product-prc"
         const date = new Date(item.order.create_at);
        const year = date.getFullYear();
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const day = date.getDate().toString().padStart(2, '0');

        const formattedDate = `${year}-${month}-${day}`;
        span2.innerHTML = formattedDate
        td4.appendChild(span2)
        tr1.appendChild(td4)

        tbody.appendChild(tr1)


    })

}

    })
    .catch(error => {
        console.error('There was an error!', error);
    });
}

window.addEventListener('load', getUserData);


</script>

{% endblock content %}