{% extends '_base.html' %}


{% block content %}

    <div class="container text-center d-flex justify-content-center align-items-center align-items-center mt-5">
        <div class="col-8 py-4 text-light rounded-5 border border-dark rounded px-4 pt-4 pb-3 shadow">
            <div class=" text-center">
                <h2 class="autho-model-ttl">ثبت نام </h2>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="text-dark">
                {{ form.errors }}
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="e-form-field mb-20">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="e-form-field mb-20">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="e-form-field mb-20">
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="e-form-field mb-20">
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="e-form-field mb-20">
                            {{ form.password2 }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <button type="submit" class="btn btn-dark mt-3 w-100"> ورود </button>
                            <a class="btn btn-dark mt-2 w-100 " href="{% url 'product:home_page' %}">بازگشت</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock content %}